<h1>Admin Dashboard</h1>

<table class="table table-borderless">
<thead>
  <tr>
    <th>
    <%= link_to 'Total Products', 'admin/products#index' %></th>
    <th>Total Categories</th>
  </tr>
</thead> 
<tbody>
<tr>
  <td>
    <p><%= @total_product %></p>
  </td>
  <td>
   <p><%= @total_category %></p>
  </td>
</tr>
</tbody>

